@import url(https://fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700);
/* CSS Button */


body {
    /*overflow-x: hidden;*/
}


.butt {
    font-size: .825em;
    text-decoration: none;
    font-weight: 700;
    padding: .35em 1em;
    background-color: #eaeef1;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.butt:hover, .butt.hover {
    background-color: #fff;
}

.butt:active, .butt.active {
    background-color: #d0d3d6;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

/*RADIO*/
.radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
}
.radio .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid #c8ccd4;
    border-radius: 100%;
}
.radio .label:not(:first-child) {
    margin-left: 32px;
}
.radio .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #4768fd;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.1;
    pointer-events: none;
}
.radio:hover .label:after {
    transform: scale(4.2);
}
input[type="radio"]:checked + .label {
    border-color: #4768fd;
    animation: jelly 0.6s ease forwards;
}
input[type="radio"]:checked + .label:after {
    transform: scale(1);
    transition: all 0.2s ease;
    opacity: 1;
}
.cntr {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    width: 100%;
    text-align: center;
}
.hidden {
    display: none;
}


/*CHECKBOX AND RADIO*/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.25em; height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .15em; left: .22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
    border: 2px solid #4778d9!important;
}




/*MY CSS*/

.routeCreationFormsInput {
    width: 80%;
    text-align: center;
}

.timeTableFormsInput {
    width: 80%;
    text-align: center;
}

.alertError {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal-butt {
    width: 60%;
}

.alertTrainsNotFound{
    margin-outside: 70px;
}

#trainsForRouteContainer {
    width: 100%;
}

#transferTrainSelectionContainer {
    width: 100%;
}

#transferTrainTable {
    width: 100%;
}

.cabinetInfoButton {
    width: 40%;
    margin-outside: 4;
}

.creatingTrainButton {
    width: 14%;
    margin: 2px;
}

#submitTrain {
    width: 91%;
    margin: 2px;
}

.trainTable {
    margin: 5px;
}

.priceInput {
    position: relative;
    width: 110px;
}

.showPassengerModuleButt {
    margin: 5px;
    width: 180px;
}

.showPassengerModuleInput {
    width: 200px;
}

#passengerTable {
    font-size: smaller;
    margin-top: 10px;
}

.lightTrainRow{
    margin: 4px;
    cursor: pointer;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
}

.routeCreationStartInformation {
    width: 100%;
}

#innerDirectCarriagesContainer{
    max-width: 700px;
    min-width: 400px;
}

.carriageRow, .ticketRow{
    margin-top: 3px;
    margin-bottom: 3px;
}

.middleCol{
    max-width: 50px;
}

.carColTransfer {
    max-width: 450px;
    min-width: 400px;
}

#buyTransferTicketButton {
    margin-right: 200px;
    margin-left: 200px;
}

.buyTicketButt {
    width: 200px;
    margin: 5px;
}

.ticketRow {
    margin-top: 5px;
    cursor: pointer;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
}
#sidebar-wrapper {
    min-width: 200px;
}

#content {
    margin-top: 20px;
    margin-right: 5px;
    min-width: 800px
}








